.eachGroup{
    width:60%;
    border-bottom:2px dotted grey;
    padding-bottom:20px;
}

.imagePairs{
    margin-top:5%;
    margin-bottom:0.5%;
}

.imagePairs img{
    margin-left:7%;
    margin-right:7%;
}

.histograms{
    margin-bottom:-30px;
}

.histogram{
    margin-top:-40px;
    display:inline-block;
    width:290px;
    height:250px;
}
